<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Camera Feed</title>
    <link rel="stylesheet" href="/static/styles2.css">
</head>
<body>
    <header>
        <h1>Live Camera Feed</h1>
        <div class="logout-container">
            <a href="{{ url_for('logout') }}" class="logout-button">Logout</a>
        </div>
    </header>

    <main>
        <div class="video-container">
            <img src="{{ url_for('video_feed') }}" alt="Live Camera Feed">
        </div>
    </main>
</body>
</html>