<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multi Live Camera Feed</title>
    <link rel="stylesheet" href="/static/styles2.css">
</head>
<body>
    <header>
        <h1>Multi Live Camera Feed</h1>
        <div class="logout-container">
            <a href="{{ url_for('logout') }}" class="logout-button">Logout</a>
        </div>
    </header>

    <main>
        <div class="stream-container">
            <!-- Camera Feeds -->
            <div class="video-container">
                <h2>Camera 1</h2>
                <img src="{{ url_for('video_feed0') }}" alt="Live Camera Feed 1">
            </div>
            <div class="video-container">
                <h2>Camera 2</h2>
                <img src="{{ url_for('video_feed1') }}" alt="Live Camera Feed 2">
            </div>
            <div class="video-container">
                <h2>Camera 3</h2>
                <img src="{{ url_for('video_feed2') }}" alt="Live Camera Feed 3">
            </div>
            <div class="video-container">
                <h2>Camera 4</h2>
                <img src="{{ url_for('video_feed3') }}" alt="Live Camera Feed 4">
            </div>
            <div class="video-container">
                <h2>Camera 5</h2>
                <img src="{{ url_for('video_feed1') }}" alt="Live Camera Feed 5">
            </div>
            <div class="video-container">
                <h2>Camera 6</h2>
                <img src="{{ url_for('video_feed1') }}" alt="Live Camera Feed 6">
            </div>


        </div>
    </main>
</body>
</html>