<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>User Management</h1>
        <button onclick="location.href='/create_account'">Create Account</button>
        <button onclick="location.href='see_users.html'">See Users</button>
        <button onclick="location.href='update_account.html'">Update Account</button>
        <button onclick="location.href='delete_account.html'">Delete Account</button>
    </div>
</body>
</html>